//Fonte
$fonte: 'Roboto', sans-serif;
$fonte-Secundaria: 'Cinzel', sans-serif;

//Cores

$cor-primaria:   #F5F5DC;
$cor-secundaria: #004225;
$cor-terceiaria: #FFB000;

$cor-de-fundo: #FBF0B2;

//tamanho-fonte 

$tamanho-fonte-principal: 3em;